<div class="col-md-6 col-md-offset-3">

<h1>Educational Quotes!</h1>
<h3>Refresh for a new quote!</h3>
<% if @results != nil %>
  <ul>
  <li>
    <div>
        <h2><%= @results[0]["quote"] %></h2>
        <% end %>
    </div>
  </li>
    </ul>
</div>
