<h1>Trending</h1>
<%= @title %>

<% if @results != nil %>
  <ul>
  <% @results["works"].first(10).each do |book| %>
  <li>
    <div>
        <h2><%= book["title"] %></h2>
        <% book["author_name"].each do |author| %>
            <p><%= author %></p>
        <% end %>

    </div>
  </li>
  <% end %>
  </ul>
<% else %>
  <p>No results yet</p>
<% end %>